@{
    ViewData["Title"] = "Register";
}

<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm mx-auto">
    <div class="text-xl text-center font-bold mb-6">
        <p>Register Page</p>
    </div>
    <form id="registerForm">
        <div class="mb-6">
            <input type="text" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="username" required />
        </div>
        <div class="mb-6">
            <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="email" required />
        </div> 
        <div class="mb-6">
            <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="password" required />
        </div> 
        <div class="mb-6">
            <input type="password" id="confirm_password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="confirm password" required />
        </div> 
        <div id="registerError" class="text-center mb-5 hidden">
            <p id="registerErrorMessage" class="text-sm font-bold text-red-600"></p>
        </div>
        <div class="text-center">
            <button id="registerButton" type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center justify-center">Sign Up</button>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/register.js"></script>
}